In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [18]:
source_data = pd.read_csv("plot_data_source.csv")

source_data["x"] = source_data["x"].round(0)
source_data["y"] = source_data["y"].round(2) 
source_data

         x      y
0     29.0   3.55
1     30.0   2.86
2     31.0   3.15
3     33.0   3.55
4     33.0   3.97
..     ...    ...
273  187.0  17.53
274  175.0  18.98
275  173.0  18.11
276  178.0  19.08
277  177.0  19.26

[278 rows x 2 columns]